<template>
  <div class="about">
    <h1>This is an about page</h1>
    <HelloI18n />
  </div>
</template>

<script>
import { HelloI18n } from "@/components";

export default {
  components: {
    HelloI18n,
  },
};
</script>
