<template>
  <hello-world message="message" />
</template>

<script>
import { HelloWorld } from "../components";

export default {
  name: "Home",
  props: {
    message: {
      type: String,
      required: true,
    },
  },
  components: {
    HelloWorld,
  },
};
</script>
