<template>
  <v-container>
    <v-row>
      <p>{{ $t("hello") }}</p>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HelloI18n",
};
</script>

<i18n>
{
  "en": {
    "hello": "Hello i18n in SFC!"
  }
}
</i18n>
